<?xml version="1.0"?>
<config>
  <modules>
    <ZetaPrints_WebToPrint>
      <version>1</version>
    </ZetaPrints_WebToPrint>
  </modules>

  <global>
    <models>
      <webtoprint>
        <class>ZetaPrints_WebToPrint_Model</class>
        <resourceModel>webtoprint_mysql4</resourceModel>

        <rewrite>
          <templates-synchronization>ZetaPrints_WebToPrint_Model_Convert_Parser_Template</templates-synchronization>
          <products-creation>ZetaPrints_WebToPrint_Model_Convert_Mapper_Product</products-creation>
        </rewrite>
      </webtoprint>

      <webtoprint_mysql4>
        <class>ZetaPrints_WebToPrint_Model_Mysql4</class>

        <entities>
          <template>
            <table>zetaprints_templates</table>
          </template>
        </entities>
      </webtoprint_mysql4>

      <catalog>
        <rewrite>
          <product>ZetaPrints_WebToPrint_Model_Product</product>
        </rewrite>
      </catalog>
    </models>

    <helpers>
      <catalog>
        <rewrite>
          <image>ZetaPrints_WebToPrint_Helper_Image</image>
        </rewrite>
      </catalog>

      <webtoprint>
        <class>ZetaPrints_WebToPrint_Helper</class>

        <rewrite>
          <personalization-form>ZetaPrints_WebToPrint_Helper_PersonalizationForm</personalization-form>
        </rewrite>
      </webtoprint>
    </helpers>

    <resources>
      <webtoprint_setup>
        <setup>
          <module>ZetaPrints_WebToPrint</module>
          <class>ZetaPrints_WebToPrint_Model_Resource_Mysql4_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </webtoprint_setup>

      <webtoprint_write>
        <connection>
          <use>core_write</use>
        </connection>
      </webtoprint_write>

      <webtoprint_read>
        <connection>
          <use>core_read</use>
        </connection>
      </webtoprint_read>
    </resources>
  </global>

  <frontend>
    <routers>
      <ZetaPrints_WebToPrint>
        <use>standard</use>
        <args>
          <module>ZetaPrints_WebToPrint</module>
          <frontName>web-to-print</frontName>
        </args>
      </ZetaPrints_WebToPrint>
    </routers>
  </frontend>
</config>
