<?xml version="1.0"?>
<config>
  <modules>
    <ZetaPrints_AccessControl>
      <version>3</version>
    </ZetaPrints_AccessControl>
  </modules>

  <global>
    <models>
      <accesscontrol>
        <class>ZetaPrints_AccessControl_Model</class>
      </accesscontrol>

      <catalogsearch>
        <rewrite>
          <layer>ZetaPrints_AccessControl_Model_CatalogSearch_Layer</layer>
        </rewrite>
      </catalogsearch>

      <sitemap_mysql4>
        <rewrite>
          <catalog_category>ZetaPrints_AccessControl_Model_Resource_Sitemap_Mysql4_Category</catalog_category>
          <catalog_product>ZetaPrints_AccessControl_Model_Resource_Sitemap_Mysql4_Product</catalog_product>
        </rewrite>
      </sitemap_mysql4>
    </models>

    <blocks>
      <accesscontrol>
        <class>ZetaPrints_AccessControl_Block</class>
      </accesscontrol>

      <catalog>
        <rewrite>
          <navigation>ZetaPrints_AccessControl_Block_Navigation</navigation>
          <layer_view>ZetaPrints_AccessControl_Block_Layer_View</layer_view>
        </rewrite>
      </catalog>
    </blocks>

    <helpers>
      <accesscontrol>
        <class>ZetaPrints_AccessControl_Helper</class>
      </accesscontrol>

      <catalog>
        <rewrite>
          <category>ZetaPrints_AccessControl_Helper_Category</category>
          <product>ZetaPrints_AccessControl_Helper_Product</product>
        </rewrite>
      </catalog>
    </helpers>

    <resources>
      <accesscontrol_setup>
        <setup>
          <module>ZetaPrints_AccessControl</module>
          <class>Mage_Eav_Model_Entity_Setup</class>
        </setup>
        <connection>
          <use>default_setup</use>
        </connection>
      </accesscontrol_setup>

      <accesscontrol_write>
        <connection><use>default_write</use></connection>
      </accesscontrol_write>

      <accesscontrol_read>
        <connection><use>default_read</use></connection>
      </accesscontrol_read>
    </resources>
  </global>

  <frontend>
    <events>
      <catalog_category_collection_load_after>
        <observers>
          <accesscontrol>
            <type>singleton</type>
            <class>ZetaPrints_AccessControl_Model_Observer</class>
            <method>catalogCategoryCollectionLoadAfter</method>
          </accesscontrol>
        </observers>
      </catalog_category_collection_load_after>
    </events>
  </frontend>

  <adminhtml>
    <translate>
      <modules>
        <ZetaPrints_AccessControl>
          <files>
            <default>ZetaPrints_AccessControl.csv</default>
          </files>
        </ZetaPrints_AccessControl>
      </modules>
    </translate>
  </adminhtml>

  <default>
    <catalog>
      <accesscontrol>
        <extension_status>1</extension_status>
        <!-- -1 = default to hide to no customer groups -->
        <default_category_groups>-1</default_category_groups>
        <grow_db_field>1</grow_db_field>
      </accesscontrol>
    </catalog>
  </default>
</config>
