<?xml version="1.0"?>
<config>
  <modules>
    <Biinno_WebToPrint>
      <version>0.1.0</version>
    </Biinno_WebToPrint>
  </modules>

  <global>
    <models>
      <catalog>
        <rewrite>
          <product>Biinno_WebToPrint_Model_Product</product>
        </rewrite>
      </catalog>
    </models>

    <helpers>
      <catalog>
        <rewrite>
          <image>Biinno_WebToPrint_Helper_Image</image>
        </rewrite>
      </catalog>

      <webtoprint>
        <class>Biinno_WebToPrint_Helper</class>

        <rewrite>
          <personalization-form>Biinno_WebToPrint_Helper_PersonalizationForm</personalization-form>
        </rewrite>
      </webtoprint>
    </helpers>
  </global>

  <frontend>
    <routers>
      <Biinno_WebToPrint>
        <use>standard</use>
        <args>
          <module>Biinno_WebToPrint</module>
          <frontName>web-to-print</frontName>
        </args>
      </Biinno_WebToPrint>
    </routers>
  </frontend>
</config>
