<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
  * @category ZetaPrints
  * @package ZetaPrints_Attachments
  * @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
  */
-->
<config>
  <modules>
    <ZetaPrints_Attachments>
      <version>1.0.4</version>
    </ZetaPrints_Attachments>
  </modules>
  <frontend>
    <routers>
      <attachments>
        <use>standard</use>
        <args>
          <module>ZetaPrints_Attachments</module>
          <frontName>attachments</frontName>
        </args>
      </attachments>
    </routers>
    <layout>
      <updates>
        <attachments>
          <file>attachments.xml</file>
        </attachments>
      </updates>
    </layout>
    <translate>
      <modules>
        <ZetaPrints_Attachments>
          <files>
            <default>ZetaPrints_Attachments.csv</default>
          </files>
        </ZetaPrints_Attachments>
      </modules>
    </translate>
  </frontend>
  <admin>
    <routers>
      <attachments>
        <use>admin</use>
        <args>
          <module>ZetaPrints_Attachments</module>
          <frontName>attachments</frontName>
        </args>
      </attachments>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <attachments>
          <file>attachments.xml</file>
        </attachments>
      </updates>
    </layout>
  </adminhtml>
  <global>
    <models>
      <attachments>
        <class>ZetaPrints_Attachments_Model</class>
        <resourceModel>attachments_mysql4</resourceModel>
      </attachments>
      <attachments_mysql4>
        <class>ZetaPrints_Attachments_Model_Mysql4</class>
        <entities>
          <attachments>
            <table>zetaprints_attachments</table>
          </attachments>
        </entities>
      </attachments_mysql4>

      <catalog>
        <rewrite>
          <product_option>ZetaPrints_Attachments_Model_Product_Option</product_option>
          <product_option_type_attachments>ZetaPrints_Attachments_Model_Product_Option_Type_Attachments</product_option_type_attachments>
        </rewrite>
      </catalog>
    </models>
    <resources>
      <attachments_setup>
        <setup>
          <module>ZetaPrints_Attachments</module>
          <class>ZetaPrints_Attachments_Model_Resource_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </attachments_setup>
      <attachments_write>
        <connection>
          <use>core_write</use>
        </connection>
      </attachments_write>
      <attachments_read>
        <connection>
          <use>core_read</use>
        </connection>
      </attachments_read>
    </resources>
    <blocks>
      <attachments>
        <class>ZetaPrints_Attachments_Block</class>
      </attachments>
    </blocks>
    <helpers>
      <attachments>
        <class>ZetaPrints_Attachments_Helper</class>
      </attachments>
    </helpers>
    <events>
<!--      <checkout_cart_product_add_after>
        <observers>
          <attachments-order-creation-observer>
            <type>singleton</type>
            <class>ZetaPrints_Attachments_Model_Events_Observer</class>
            <method>addAttachemntsToQuote</method>
          </attachments-order-creation-observer>
        </observers>
      </checkout_cart_product_add_after>-->
      <controller_action_predispatch_checkout_cart_add>
        <observers>
          <attachments-values-observer>
            <type>singleton</type>
            <class>ZetaPrints_Attachments_Model_Events_Observer</class>
            <method>storeAttachments</method>
          </attachments-values-observer>
        </observers>
      </controller_action_predispatch_checkout_cart_add>
      <sales_order_save_after>
        <observers>
          <attachments-order-complete>
            <type>singleton</type>
            <class>ZetaPrints_Attachments_Model_Events_Observer</class>
            <method>updateAttachmentOrder</method>
          </attachments-order-complete>
        </observers>
      </sales_order_save_after>
    </events>
    <catalog>
      <product>
        <options>
          <custom>
            <groups>
              <attachments translate="label" module="adminhtml">
                <label>Attachments</label>
                <render>attachments/product_edit_tab_options_type_attachments</render>
                <types>
                  <file translate="label" module="adminhtml">
                    <label>Upload files via AJAX</label>
                  </file>
                </types>
              </attachments>
            </groups>
          </custom>
        </options>
      </product>
    </catalog>
    <rewrite>
      <zetaprints_attachments_sales_download>
        <from><![CDATA[#^/sales/download/#]]></from>
        <to>/attachments/sales_download/</to>
      </zetaprints_attachments_sales_download>
      <zetaprints_attachments_admin>
        <from><![CDATA[#^/admin/attachments/#]]></from>
        <to>/attachments/adminhtml_attachments/</to>
      </zetaprints_attachments_admin>
    </rewrite>
  </global>
  <default>
    <attachments>
      <settings>
        <att_orphan_days>30</att_orphan_days>
        <att_old_days>0</att_old_days>
      </settings>
    </attachments>
  </default>
  <crontab>
    <jobs>
      <attachments_delete_old>
        <schedule>
          <cron_expr>0 1 * * *</cron_expr>
        </schedule>
        <run>
          <model>attachments/events_observer::cleanUpOldFiles</model>
        </run>
      </attachments_delete_old>
    </jobs>
  </crontab>
</config>
