<?xml version="1.0" ?>
<config>
    <modules>
        <ZetaPrints_DistributionMap>
            <version>0.1.7</version>
        </ZetaPrints_DistributionMap>
    </modules>
    <frontend>
        <routers>
            <distro_map>
                <use>standard</use>
                <args>
                    <module>ZetaPrints_DistributionMap</module>
                    <frontName>distromap</frontName>
                </args>
            </distro_map>
        </routers>
        <layout>
            <updates>
                <distro_map>
                    <file>distromap.xml</file>
                </distro_map>
            </updates>
        </layout>
        <events>
            <sales_quote_item_save_after>
                <observers>
                    <distro_map_get_quote_maps>
                        <class>ZetaPrints_DistributionMap_Model_Events_Observer</class>
                        <method>getQuoteMaps</method>
                    </distro_map_get_quote_maps>
                </observers>
            </sales_quote_item_save_after>
            <sales_order_save_after>
                <observers>
                    <distro_map_add_order_id>
                        <class>ZetaPrints_DistributionMap_Model_Events_Observer</class>
                        <method>addOrderId</method>
                    </distro_map_add_order_id>
                </observers>
            </sales_order_save_after>
        </events>
    </frontend>
    <admin>
        <routers>
            <distro_map>
                <use>standard</use>
                <args>
                    <module>ZetaPrints_DistributionMap</module>
                    <frontName>distromap</frontName>
                </args>
            </distro_map>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <distro_map>
                    <file>distromap.xml</file>
                </distro_map>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <distro_map>
                <class>ZetaPrints_DistributionMap_Model</class>
                <resourceModel>distro_map_mysql4</resourceModel>
            </distro_map>
            <distro_map_mysql4>
                <class>ZetaPrints_DistributionMap_Model_Mysql4</class>
                <entities>
                    <distro_maps>
                        <table>zetaprints_distribution_maps</table>
                    </distro_maps>
                </entities>
            </distro_map_mysql4>
        </models>
        <resources>
            <distro_map_setup>
                <setup>
                    <module>ZetaPrints_DistributionMap</module>
                    <class>ZetaPrints_DistributionMap_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </distro_map_setup>
            <distro_map_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </distro_map_write>
            <distro_map_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </distro_map_read>
        </resources>
        <blocks>
            <distro_map>
                <class>ZetaPrints_DistributionMap_Block</class>
            </distro_map>
        </blocks>
        <helpers>
            <distro_map>
                <class>ZetaPrints_DistributionMap_Helper</class>
            </distro_map>
        </helpers>
    </global>
    <default>
        <google>
            <distro_map>
                <sensor>1</sensor>
                <product_width>580</product_width>
                <product_height>400</product_height>
                <cart_width>300</cart_width>
                <cart_height>200</cart_height>
                <admin_width>640</admin_width>
                <admin_height>480</admin_height>
            </distro_map>
        </google>
    </default>
</config>
