<?xml version="1.0"?>
<config>
    <sections>
        <google>
            <groups>
                <distro_map translate="label">
                    <label>Google Maps Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <sensor>
                            <label>Does device have geo location sensor (GPS)</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Set this to yes if you think that your store will be visited by users
                                with GPS capable devices.]]></comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sensor>
                        <product_width>
                            <label>Product page map width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_width>
                        <product_height>
                            <label>Product page map height</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_height>
                        <cart_width>
                            <label>Cart page map width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cart_width>
                        <cart_height>
                            <label>Cart page map height</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cart_height>
                        <admin_width>
                            <label>Admin page map width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </admin_width>
                        <admin_height>
                            <label>Admin page map height</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </admin_height>
                        <hint_text>
                            <label>Hint to display to user</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Some text to explain to user what to do with map.]]></comment>
                        </hint_text>
                        <map_lat>
                            <label>Initial latitude</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[A decimal number between -90 degrees and +90 degrees.]]></comment>
                        </map_lat>
                        <map_lng>
                            <label>Initial longitude</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[A decimal number between -180 degrees and +180 degrees. Current
                        coordinates represent New York City]]></comment>
                        </map_lng>
                        <map_zoom>
                            <label>Initial zoom level</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[A number between 0 and 20. 0 is entire earth,
                            20 greatest resolution. 15 is ususaly detailed enough map of a city]]></comment>
                        </map_zoom>
                    </fields>
                    <comment><![CDATA[<strong>Set map sizes here</strong><br/><small>All sizes are in
                    pixels</small>]]></comment>
                </distro_map>
            </groups>
        </google>
    </sections>
</config>
