body {
  padding: 0;
  margin: 0;
  background: #93B4DF;
  overflow: hidden;
}

#imageEditorApplyCrop {
  margin-left:40%;
  display:block;
  padding-top:5px;
}

#imageEditorLeft {
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  background: #93B4DF none repeat scroll 0 0;
  height: 100%;
  margin: 0;
  text-align: center;
}

#imageEditorLeft ul li {
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  background: transparent url(../images/image-edit/line.png) no-repeat scroll center bottom;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 12px 0;
  cursor: pointer;
  cursor: hand;
}
#imageEditorLeft ul {
  margin: 0;
  padding: 0;
}

#imageEditorLeft ul li span {
  color: #FFFFFF;
  display: block;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  padding: 2px;
}

#imageEditorLeft ul .last {
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  background: transparent none repeat scroll 0 0;
}

#imageEditorRight {
  padding: 10px 10px 4000px 10px;
  background: #FFFFFF;
}

#imageEditorCropForm {
  display: none;
  padding: 0px;
  margin: 0px;
}

.handler {
  width: 15px;
  height: 10px;
  border-right: solid 1px #888888;
  border-bottom: solid 1px #888888;
  position: absolute;
  right: 1px;
  bottom: 1px;
  cursor: nw-resize;
}
#imageEditorCaption {
  display:none;
  padding: 5px;
  background-color: #93B4DF;
  font-family: Arial;
  font-size: 12px;
  margin-right:5px;
  *margin-top: -5px; /*msie bug*/
  white-space:nowrap;
  position:relative;
}
#imageEditorCaption span {
  color: #FFFFFF;
  margin-left:10px;
}
#imageEditorCaption span span {
  color: #000000;
  margin-left:0px;
}
#imageEditorCaption #imageEditorInfo {
  color: #DB0D0D;
  font-weight: bold;
  float: right;
}

#fancy_content {
  cursor: auto;
}
