<?xml version="1.0"?>
<config>
  <modules>
    <ZetaPrints_Moxi>
      <version>1</version>
    </ZetaPrints_Moxi>
  </modules>

  <global>
    <models>
      <moxi>
        <class>ZetaPrints_Moxi_Model</class>

        <rewrite>
          <advertising-plans-creation>ZetaPrints_Moxi_Model_Convert_Mapper_Product_Creating</advertising-plans-creation>
        </rewrite>
      </moxi>
    </models>

    <helpers>
      <moxi>
        <class>ZetaPrints_Moxi_Helper</class>
      </moxi>
    </helpers>

    <blocks>
      <moxi>
        <class>ZetaPrints_Moxi_Block</class>
      </moxi>
    </blocks>

    <moxi_resource>
      <class>ZetaPrints_Moxi_Model_Resource</class>
    </moxi_resource>

    <resources>
      <moxi_setup>
        <setup>
          <module>ZetaPrints_Moxi</module>
          <class>ZetaPrints_Moxi_Model_Resource_Setup</class>
        </setup>
      </moxi_setup>
    </resources>

    <events>
      <sales_model_service_quote_submit_success>
        <observers>
          <moxi-create-campaigns>
            <type>singleton</type>
            <class>ZetaPrints_Moxi_Model_Events_Observer</class>
            <method>createCampaigns</method>
          </moxi-create-campaigns>
        </observers>
      </sales_model_service_quote_submit_success>
    </events>
  </global>

  <admin>
    <routers>
      <ZetaPrints_Moxi>
        <use>admin</use>
          <args>
            <module>ZetaPrints_Moxi</module>
            <frontName>moxi-admin</frontName>
          </args>
      </ZetaPrints_Moxi>
    </routers>
  </admin>

  <adminhtml>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <moxi>
                      <title>ZetaPrints OpenX Integration</title>
                    </moxi>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>

    <events>
      <core_block_abstract_prepare_layout_after>
        <observers>
          <moxi-add-campaign-settings-tab>
            <type>singleton</type>
            <class>ZetaPrints_Moxi_Model_Events_Observer</class>
            <method>addCampaignSettingTab</method>
          </moxi-add-campaign-settings-tab>
        </observers>
      </core_block_abstract_prepare_layout_after>
    </events>

    <layout>
      <updates>
        <catalog-openx-campaign>
          <file>catalog/openx-campaign.xml</file>
        </catalog-openx-campaign>
      </updates>
    </layout>
  </adminhtml>
</config>
