div.zetaprints-field-shape.bottom {
  position: absolute;
  cursor: pointer;
  border: 1px solid white;
  background-image: url('../images/transparent-background.gif');
}

div.zetaprints-field-shape.top {
  position: relative;
  border: 1px dashed red;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 100%;
}

div#zetaprints-preview-image-container div.zetaprints-field-shape.bottom {
  visibility: hidden;
}

div#zetaprints-preview-image-container:hover div.zetaprints-field-shape.bottom {
  visibility: visible;
}

div#fancybox-inner div.zetaprints-field-shape.bottom {
  visibility: hidden;
}

div#fancybox-inner:hover div.zetaprints-field-shape.bottom {
  visibility: visible;
}

div.zetaprints-field-shape.highlighted {
  visibility: visible !important;
  border-color: white;
}

div.zetaprints-field-shape.highlighted div.zetaprints-field-shape.top {
  top: -2px;
  left: -2px;
  border-style: solid;
}

div.zetaprints-page-input-fields .highlighted, div.zetaprints-page-stock-images .highlighted {
  border-color: #F18200 !important;
  border-style: solid !important;
}

div.zetaprints-field-shape.edited {
  background-image: url('../images/edited-shape-background.png');
}

div.fieldbox {
  visibility: hidden;
  background-color: white;
  padding: 3px;
  text-align: left;
}

div.fieldbox div.fieldbox-wrapper {
  border: 1px solid #F18200;
}

div.fieldbox div.fieldbox-head {
  background-color: #f18200;
  color: white;
  padding: 1px 3px 1px 3px;
}

div.fieldbox.ui-draggable div.fieldbox-head {
  cursor: move;
}

div.fieldbox div.fieldbox-head a.button {
  display: block;
  background-image: url('../images/in-preview-edit-sprite.png');
  float: right;
  text-decoration: none;
  margin: 1px 0px 0px 3px;
  height: 16px;
  width: 16px;
  cursor: pointer;
}

div.fieldbox div.fieldbox-head a.button.close {
  background-position: 0px -20px;
}

div.fieldbox div.fieldbox-head a.button.save {
  display: none;
}

div.fieldbox.fieldbox-changed-state div.fieldbox-head a.button.save {
  display: block;
}

div.fieldbox div.field > * {
  width: 100%;
}

div.fieldbox div.field > *:focus {
  background-color: inherit;
}

div.fieldbox div.field > input {
  width: 97%;
}

div.fieldbox div.field div.selector-content {
  position: static;
  left: none;
}

div.fieldbox div.tabs-wrapper {
  border-width: 0px;
}

div.fieldbox ul.tab-buttons li {
  border-left: none;
}

div.colorpicker {
  z-index: 10100;
}
