body {
  padding: 0;
  margin: 0;
  background: #ffffff;
  overflow: hidden;
}

#imageEditorLeftSidebar {
  /*-moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  background: #93B4DF none repeat scroll 0 0;*/
  background-color: #93B4DF;
  width: 100px;
  height: 100%;
  margin: 0;
  text-align: center;
  vertical-align: top;
  position: absolute;
  left: 0;
  top: 0;
}

#imageEditorLeftSidebar ul li {
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  background: transparent url(../images/image-edit/line.png) no-repeat scroll center bottom;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 12px 0;
  cursor: pointer;
  cursor: hand;
}
#imageEditorLeftSidebar ul {
  margin: 0;
  padding: 0;
}

#imageEditorLeftSidebar ul li span {
  color: #FFFFFF;
  display: block;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  padding: 2px;
}

#imageEditorLeftSidebar ul .last {
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  background: transparent none repeat scroll 0 0;
}

#imageEditorCropForm {
  display: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.handler {
  width: 15px;
  height: 10px;
  border-right: solid 1px #888888;
  border-bottom: solid 1px #888888;
  position: absolute;
  right: 1px;
  bottom: 1px;
  cursor: nw-resize;
}

#imageEditorInfoBar {
  width: 100%;
  display: none;
  background-color: #93B4DF;
  font-family: Arial;
  font-size: 12px;
  margin-right: 5px;
  *margin-top: -5px; /*msie bug*/
}

#imageEditorInfoBar #imageEditorTooltip {
  color: #DB0D0D;
  font-weight: bold;
  white-space: nowrap;
  text-align: right;
  padding: 4px 5px 0;
  vertical-align: top;
}

#imageEditorBottomPanel {
  position: absolute;
  right: 5px;
  bottom: 5px;
  min-width: 600px;
}

#userImagePreviewContainer {
  position: absolute;
  right: 5px;
  bottom: 90px;
  padding: 5px;
  overflow: hidden;
}

#fancy_content {
  cursor: auto;
}

#infoBar td {
  color: white;
  font-size: 12px;
}

#infoBar #imageEditorWidthInfo {
  min-width: 30px;
  color: black;
}

#infoBar #imageEditorHeightInfo {
  min-width: 30px;
  color: black;
}

div.zetaprints-buttons-row {
  font-family: Arial;
  margin-top: 5px;
}
