form.zetaprints-template-page {
  display: block;
  margin-bottom: 25px;
}

form.zetaprints-template-page div.product-img-box {
  margin-bottom: 25px;
}

form.zetaprints-template-page div.product-img-box img {
  max-width: 250px;
  cursor: pointer;
}

form.zetaprints-template-page div.product-shop {
  position: relative;
}

form.zetaprints-template-page div.product-shop dl {
  margin-bottom: 5px;
}

form.zetaprints-template-page div.clear {
  clear: both;
}

form.zetaprints-template-page input.save-order {
  display: none;
  margin-left: 6px;
}

div.color-sample {
  position: absolute;
  height: 18px;
  width: 30px;
  top: 3px;
  left: 10px;
  cursor: pointer;
  border: 1px dotted lightgray;
  background-color: white;
}

div.color-sample label {
  display: none;
}

input.input-text, textarea {
  width:100%;
}