div.product-img-box div.more-views li a img {
  width: 56px;
  height: 56px;
}

div.product-essential {
  border-bottom: 1px solid #C4C6C8;
}

/**/
div.image-tabs {
  overflow: auto;
  margin-bottom: 20px;
}

/**/
div.image-tabs ul {
  overflow:hidden;
  margin-bottom: 5px;
}

/**/
div.image-tabs ul li {
  width: 100px;
  float: left;
  margin-right: 15px;
  border: 1px solid transparent;
  padding: 9px;
  cursor: pointer;
  text-align: center;
  min-height: 100px;
}

/**/
div.image-tabs ul li.selected {
  border-color: #F18200 !important;
  cursor: default;
}

/**/
div.image-tabs ul li:hover {
  border-color: #C4C6C8;
}

/**/
div.image-tabs ul li img {
  max-height: 100px;
  max-width: 100px;
}

div.zetaprints-template-page div.product-img-box {
  width: 50%;
}

/**/
div.zetaprints-template-preview {
  display: none;
}

/**/
div.zetaprints-template-preview img {
  max-width: 265px;
  cursor: pointer;
}

/**/
div.zetaprints-page-stock-images {
  display: none;
}

/**/
div.zetaprints-page-input-fields {
  display: none;
}

/**/
div.zetaprints-page-input-fields input.input-text, div.zetaprints-page-input-fields textarea {
  width: 100%;
}

/**/
div.zetaprints-page-color-pickers {
  display: none;
}

div.zetaprints-template-page div.product-shop {
  position: relative;
  width: 50%;
}

/**/
div.product-shop dl {
  margin-bottom: 5px;
}

/**/
div.zetaprints-preview-button {
  float: left;
  margin-top: 25px;
}

/**/
div.zetaprints-preview-button span {
  display: none;
  margin-left: 10px;
  font-size: 85%;
}

/**/
img.ajax-loader {
  vertical-align: middle;
  margin-left: 10px;
  display: none;
}

div.save-order {
  background: none;
}

div.save-order div.inner {
  float: right;
}

input.disable, button.disable {
  background-color: rgb(187, 187, 187);
  border-color: rgb(187, 187, 187);
  cursor: default;
}

div.save-order span {
  margin-right: 10px;
  font-size: 85%;
}

div.save-order img.ajax-loader {
  vertical-align: middle;
  margin-right: 10px;
  display: none;
}

div.images-scroller {
  overflow-x: auto;
}

div.images-scroller ul {
  display: block;
  overflow: hidden;
  width: 2000px;
  margin: 0px;
  padding: 0px;
}

div.images-scroller ul li {
  display: block;
  float: left;
  list-style: none;
}

div.images-scroller ul li .image {
  padding: 4px;
  margin-right: 4px;
  border: 2px solid  transparent;
  cursor: pointer;
}
div.images-scroller ul li div.image {
  height: 100px;
}

div.images-scroller ul li div.color-sample {
  height: 100%;
  background-color: white;
  background-image: url('../images/color-picker-icon.gif');
  background-repeat: no-repeat;
  background-position: center;
}

div.images-scroller ul li div.color-sample span {
  background-color: white;
}

div.images-scroller ul li div.image span {
  display: block;
}

div.images-scroller ul li .image:hover {
  border: 2px solid #F18200;
}

div.images-scroller ul li .image.selected {
  border: 2px solid #F18200;
  cursor: default;
}

div.color-sample label {
  display: none;
}
