div.color-sample {
  position: absolute;
  height: 18px;
  width: 30px;
  top: 3px;
  left: 10px;
  cursor: pointer;
  border: 1px dotted lightgray;
  background-color: white;
}

div.color-sample label {
  display: none;
}

input.input-text, textarea {
  width:100%;
}