a.all-order-previews {
  float: right;
}

a.all-order-previews span.show-title {
  display: none;
}

a.all-order-previews.hide-all span.hide-title {
  display: none;
}

a.all-order-previews.hide-all span.show-title {
  display: inline;
}

.grid tbody.odd tr.border.zetaprints-previews td,
.grid tbody.even tr.border.zetaprints-previews td {
  border-bottom-width: 4px;
}

div.zetaprints-previews-box div.title {
  margin-bottom: 5px;
}

div.zetaprints-previews-box div.title a {
  cursor: pointer;
  text-decoration: none;
}

div.zetaprints-previews-box div.title a span {
  text-decoration: underline;
}

div.zetaprints-previews-box div.title a.show-title {
  display: none;
}

div.zetaprints-previews-box div.content {
  overflow: auto;
  padding: 0 0 20px 0;
}

div.zetaprints-previews-box div.content ul {
  overflow: hidden;
}

div.zetaprints-previews-box div.content ul li {
  float: left;
  margin-left: 5px;
}

div.zetaprints-previews-box.hide div.content {
  display: none;
}

div.zetaprints-previews-box.hide div.title a.hide-title {
  display: none;
}

div.zetaprints-previews-box.hide div.title a.show-title {
  display: inline;
}

.zetaprints-dynamic-imaging img {
  max-height: 100px;
  *height: 100px;
}

.zp-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../../../../frontend/base/default/images/web-to-print/preview-overlay-background.png') repeat;
  z-index: 1000;
}

.zp-overlay-spinner {
  width: 32px;
  height: 32px;
  background: url('../../../../frontend/base/default/images/web-to-print/zp-button-sprites.png') no-repeat 0 -90px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
  padding: 8px 0 0 8px;
}

.zp-overlay-spinner div {
  width: 24px;
  height: 24px;
  background: url('../../../../frontend/base/default/images/web-to-print/loading-spinner.gif');
}

.zp-overlay-text {
  position: fixed;
  top: 50%;
  width: 100%;
  text-align: center;
  margin: 30px 0 0 0;
  color: white;
  font-weight: bold;
}

/* Fancybox tweaks */

/* Move right arrow area to the right */
a#fancybox-right {
  right: -40px;
}

/* Move left arrow area to the left */
a#fancybox-left {
  left: -40px;
}

/*a#fancybox-right, a#fancybox-left {
  visibility: visible; /* IE6 */
/*}*/

/* Make left arrow icon always visible */
a#fancybox-left span {
  left: 20px;
}

/* Make right arrow icon always visible */
a#fancybox-right span {
  left: auto;
  right: 20px;
}

#zp-user-input-table {
  min-width: 300px;
  *width: 450px;
}

#zp-user-input-table td,
#zp-user-input-table th {
  padding: 4px;
}
