<?xml version="1.0"?>
<config>
	<modules>
		<ZetaPrints_Api>
			<version>0.1.0</version>
		</Zetaprints_Api>
	</modules>
	<global>
		<models>
            <api>
                <class>ZetaPrints_Api_Model</class>
				<rewrite>
					<importzp>ZetaPrints_Api_Model_Importer</importzp>
				</rewrite>
				<rewrite>
					<oppnotexist>ZetaPrints_Api_Model_Optionproductnotexist</oppnotexist>
				</rewrite>
				<rewrite>
					<oppexist>ZetaPrints_Api_Model_Optionproductexist</oppexist>
				</rewrite>
				<rewrite>
					<opstore>ZetaPrints_Api_Model_Optionstore</opstore>
				</rewrite>
                                <rewrite>
					<show-previews-in-option>ZetaPrints_Api_Model_ShowPreviewsInOption</show-previews-in-option>
				</rewrite>
            </api>			
        </models>
		<helpers>
			<api>
			   <class>ZetaPrints_Api_Helper</class>
		    </api>
		</helpers>
		<events>
			<checkout_type_onepage_save_order_after>
			<!--checkout_onepage_controller_success_action-->
				<observers>
					<biinno_api_observer>
						<type>model</type>
						<class>api/observer</class>
						<method>exportOnOrderEvent</method>
					</biinno_api_observer>
				</observers>
			<!--/checkout_onepage_controller_success_action-->
			</checkout_type_onepage_save_order_after>
		</events>
	</global>
	<adminhtml>
			<menu></menu>
			<events></events>
			<translate></translate>
			<acl>
				<resources>
					<admin>
						<children>
							<system>
								<children>
									<config>
										<children>
											<api>
												<title>W2p Integration</title>
											</api>
										</children>
									</config>
								</children>
							</system>
						</children>
					</admin>
				</resources>
			</acl>
	</adminhtml>
</config>
