div.zetaprints-image-edit {
  font-family: Arial;
  font-size: 12px;
  background-color: #93B4DF;
  text-align: left;
  zoom: 1;
}

ul.zetaprints-image-edit-menu {
  float: left;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style-image: none;
  list-style-type: none;
  font-weight: bold;
  color: white;
  width: 116px;
}

ul.zetaprints-image-edit-menu li {
  background: transparent url(../images/image-edit/line.png) no-repeat bottom;
  padding: 15px 14px;
  position: relative;
}

.zetaprints-image-edit-menu .fit-to-field-button-wrapper {
  background: none;
  border-bottom: 2px solid white;
  padding-top: 25px;
}

.zetaprints-image-edit-menu .note {
  background: none;
  padding: 10px 0 0;
  color: #4a78b0;
  font-family: Tahoma;
  font-size: 90%;
  font-weight: normal;
}

ul.zetaprints-image-edit-menu li.last {
  padding-bottom: 0px;
  background-image: none;
}

ul.zetaprints-image-edit-menu li.hidden {
  display: none;
}

ul.zetaprints-image-edit-menu div.button {
  cursor: pointer;
  padding: 26px 0px 0px 0px;
  background: transparent no-repeat top;
}

.zetaprints-image-edit-menu .arrow {
  background: transparent url('../images/zp-image-edit-sprite.png') no-repeat;
  background-position: -34px -37px;
  width: 12px;
  height: 23px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -11px;
}

.crop-button-wrapper .arrow,
.crop-mode .fit-to-field-button-wrapper .arrow {
  display: none;
}

.crop-mode .crop-button-wrapper .arrow {
  display: block;
}

div.zetaprints-image-edit-wrapper {
  float: left;
}

.zp-image-edit-actions-wrapper {
  background-color: white;
  padding: 18px 10px 0 5px;
}

.zp-image-edit-actions {
  background-color: #e9f2fd;
  border: 1px solid #cedef3;
  font-family: Tahoma;
  font-size: 95%;
  padding: 1px 5px 1px 0px;
}

.zp-image-edit-actions-button {
  float: left;
  cursor: pointer;
  color: #204a87;
  position: relative;
  margin-left: 7px;
}

.zp-image-edit-actions-button span {
  margin-left: 17px;
  vertical-align: middle;
  margin-right: 8px;
}

.zp-image-edit-actions-button-icon {
  background: transparent url('../images/zp-image-edit-sprite.png') no-repeat;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  margin-top: -7px; /* half of the width */
}

.zp-image-edit-actions-separator {
  background: transparent url('../images/zp-image-edit-sprite.png') no-repeat;
  background-position: -23px -20px;
  width: 1px;
  height: 19px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -9px; /* half of the width */
}

#zp-image-edit-action-fit-image .zp-image-edit-actions-button-icon {
  background-position: 1px 2px;
}

#zp-image-edit-action-fill-field .zp-image-edit-actions-button-icon {
  background-position: -65px 2px;
}

#zp-image-edit-action-fit-width .zp-image-edit-actions-button-icon {
  background-position: -21px 2px;
}

#zp-image-edit-action-fit-height .zp-image-edit-actions-button-icon {
  background-position: -43px 2px;
}

#zp-image-edit-action-cancel .zp-image-edit-actions-button-icon {
  background-position: -87px 1px;
}

.saved #zp-image-edit-action-cancel {
  cursor: default;
  color: #849ec2;
}

#zp-image-edit-cropping-notice {
  display: none;
  float: right;
  font-weight: bold;
  color: #d40202;
}

.crop-mode #zp-image-edit-cropping-notice {
  display: block;
}

.crop-mode #zp-image-edit-action-fit-image,
.crop-mode #zp-image-edit-action-fill-field,
.crop-mode #zp-image-edit-action-fit-width,
.crop-mode #zp-image-edit-action-fit-height {
  display: none;
}

div.zetaprints-image-edit-container {
  width: 602px;
  height: 452px;
  background-color: white;
  overflow: hidden;
  padding: 3px;
  border-top: 7px solid white;
  border-right: 7px solid white;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
}

#zetaprints-image-edit-user-image {
  margin: 1px 0px 0px 1px;
}

#zetaprints-image-edit-user-image.zetaprints-hidden {
  display: none !important;
}

#fit-to-field-button {
  background-image: url(../images/image-edit/fit-to-field-crop-icon.png);
}

#rotate-right-button {
  background-image: url(../images/image-edit/rotate_r.png);
}

#rotate-left-button {
  background-image: url(../images/image-edit/rotate_l.png);
}

#crop-button {
  background-image: url(../images/image-edit/crop.png);
}

#undo-button {
  background-image: url(../images/image-edit/restore.png);
}

#delete-button {
  background-image: url(../images/image-edit/delete.png);
}

div.info-bar {
  font: bold 8pt tahoma;
  line-height: 1.5em;
  color: #204a87;
  padding: 1px 5px;
  width: 607px;
}

div.info-bar div.icon {
  background: transparent url(../images/image-edit/status-bar-sprite.png) no-repeat;
}

div.info-bar div.outer {
  display: table;
}

div.info-bar div.middle {
  display: table-cell;
  vertical-align: middle;
}

div.info-bar.small-image-warning div.numbers div.current,
div.info-bar.low-cropped-resolution-warning div.numbers div.current,
div.info-bar.low-full-resolution-warning div.numbers div.current {
  color: #db0d0d;
}

div.info-bar.low-cropped-resolution-warning div.notice-switchers div.current div.question-sign,
iv.info-bar.low-full-resolution-warning div.notice-switchers div.current div.question-sign,
div.info-bar.small-image-warning div.notice-switchers div.current div.question-sign {
  background-position: -28px 0px;
}

div.info-bar.cropped-state div.titles span.cropped-title,
div.info-bar.low-cropped-resolution-warning span.low-cropped-resolution-notice,
div.info-bar.low-full-resolution-warning span.low-full-resolution-notice,
div.info-bar.small-image-warning span.small-image-notice,
div.column.notices span.default-notice {
  display: inline;
}

div.info-bar .cropped-title, div.info-bar.cropped-state .uploaded-title,
div.info-bar.low-cropped-resolution-warning span.default-notice,
div.info-bar.low-full-resolution-warning span.default-notice,
div.info-bar.small-image-warning span.default-notice,
div.column.notices span {
  display: none;
}

div.info-bar.cropped-state div.notice-switchers div.cropped-title {
  display: block;
}

div.info-bar div.column {
  float: left;
  margin-right: 5px;
  text-align: right;
  overflow: hidden;
}

div.info-bar div.column.numbers {
  color: white;
}

div.info-bar div.column.left-text-position {
  text-align: left;
}

div.info-bar div.column.last {
  float: none;
}

div.info-bar div.reset {
  clear: both;
}

div.info-bar div.row {
  padding: 1px 0px;
  height: 1.5em;
}

div.info-bar div.question-sign {
  width: 12px;
  height: 12px;
  background-position: -28px -17px;
}

div.info-bar div.question-sign:hover {
  background-position: -28px 0px;
}
