<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <ZetaPrints_Options>
      <version>1.0.0</version>
    </ZetaPrints_Options>
  </modules>
  <global>
    <models>
      <zpoptions>
        <class>ZetaPrints_Options_Model</class>
        <resource_model>zpoptions_mysql4</resource_model>
      </zpoptions>
      <zpoptions_mysql4>
        <class>ZetaPrints_Options_Model_Mysql4</class>
      </zpoptions_mysql4>
    </models>
    <blocks>
      <zpoptions>
        <class>ZetaPrints_Options_Block</class>
      </zpoptions>
      <adminhtml>
        <rewrite>
          <catalog_product_grid>ZetaPrints_Options_Block_Adminhtml_Grid</catalog_product_grid>
        </rewrite>
      </adminhtml>
    </blocks>
    <helpers>
      <zpoptions>
        <class>ZetaPrints_Options_Helper</class>
      </zpoptions>
    </helpers>
    <rewrite>
      <zpoptoins_masscopy>
        <from><![CDATA[#^/admin/zp-options/masscopy#]]></from>
        <to>/zpoptions/zpoptions/masscopy</to>
      </zpoptoins_masscopy>
    </rewrite>
  </global>
  <adminhtml>
    <layout>
      <updates>
        <zpoptions>
          <file>zpoptions.xml</file>
        </zpoptions>
      </updates>
    </layout>
    <events>
      <!--<controller_action_layout_render_before_adminhtml_catalog_product_index>
        <observers>
          <zpoptions-inject-blocks>
            <type>model</type>
            <class>zpoptions/observer</class>
            <method>injectIndexBlocks</method>
          </zpoptions-inject-blocks>
        </observers>
      </controller_action_layout_render_before_adminhtml_catalog_product_index>-->
    </events>
  </adminhtml>
  <admin>
    <routers>
      <ZetaPrints_Options>
        <use>admin</use>
        <args>
          <module>ZetaPrints_Options</module>
          <frontName>zpoptions</frontName>
        </args>
      </ZetaPrints_Options>
    </routers>
  </admin>
</config>
