<?xml version="1.0"?>
<!--
  /**
  * @category ZetaPrints
  * @package ZetaPrints_Fixedprices
  * @author Petar Dzhambazov
  * @license http://opensource.org/licenses/osl-3.0.php Open Software License(OSL 3.0)
  */
   -->
<config>
  <modules>
    <ZetaPrints_Fixedprices>
      <version>0.5.0</version>
    </ZetaPrints_Fixedprices>
  </modules>
  <frontend>
    <layout>
      <updates>
        <fixedprices>
          <file>fixedprices.xml</file>
        </fixedprices>
      </updates>
    </layout>
    <events>
      <catalog_product_collection_load_after>
        <observers>
          <zetaprints_fixedprices_add_fixed_prices>
            <class>fixedprices/events_observers_product_collection</class>
            <method>updatePrices</method>
          </zetaprints_fixedprices_add_fixed_prices>
        </observers>
      </catalog_product_collection_load_after>
      <checkout_cart_save_after>
        <observers>
          <zetaprints_fixedprices_hide_qty>
            <class>fixedprices/events_observers_fixedprices</class>
            <method>getItemId</method>
          </zetaprints_fixedprices_hide_qty>
        </observers>
      </checkout_cart_save_after>
    </events>
    <product>
        <collection>
            <attributes>
                <fixed_price/>
            </attributes>
        </collection>
    </product>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <fixedprices>
          <file>fixedprices.xml</file>
        </fixedprices>
      </updates>
    </layout>
    <events>
      <adminhtml_catalog_product_edit_prepare_form>
        <observers>
          <zetaprints_fixedprices_add_fixed_prices>
            <type>singleton</type>
            <class>fixedprices/events_observers_product_tab</class>
            <method>removeDuplicates</method>
          </zetaprints_fixedprices_add_fixed_prices>
        </observers>
      </adminhtml_catalog_product_edit_prepare_form>
      <core_block_abstract_prepare_layout_after>
        <observers>
          <zetaprints_fixedprices_add_fixed_prices>
            <type>singleton</type>
            <class>fixedprices/events_observers_product_tab</class>
            <method>addFixedPrices</method>
          </zetaprints_fixedprices_add_fixed_prices>
        </observers>
      </core_block_abstract_prepare_layout_after>
      <catalog_product_save_before>
        <observers>
          <zetaprints_fixedprices_add_required>
            <class>fixedprices/events_observers_fixedprices</class>
            <method>setRequiredOption</method>
          </zetaprints_fixedprices_add_required>
        </observers>
      </catalog_product_save_before>

      <webtoprint_product_create>
        <observers>
          <zetaprints_fixedprices_process_quantities>
            <class>fixedprices/events_observers_webtoprint</class>
            <method>processQuantities</method>
          </zetaprints_fixedprices_process_quantities>
        </observers>
      </webtoprint_product_create>

      <webtoprint_product_update>
        <observers>
          <zetaprints_fixedprices_process_quantities>
            <class>fixedprices/events_observers_webtoprint</class>
            <method>processQuantities</method>
          </zetaprints_fixedprices_process_quantities>
        </observers>
      </webtoprint_product_update>

    </events>
  </adminhtml>
  <global>
    <models>
      <fixedprices>
        <class>ZetaPrints_Fixedprices_Model</class>
        <resourceModel>fixedprices_mysql4</resourceModel>
      </fixedprices>
      <fixedprices_mysql4>
        <class>ZetaPrints_Fixedprices_Model_Mysql4</class>
        <entities>
          <product_attribute_fixed_price>
            <table>zetaprints_product_entity_fixed_price</table>
          </product_attribute_fixed_price>
        </entities>
      </fixedprices_mysql4>
      <catalog>
        <rewrite>
          <product_type_price>ZetaPrints_Fixedprices_Model_Fixedprices</product_type_price>
          <product_type_configurable_price>ZetaPrints_Fixedprices_Model_Configurable_Fixedprices</product_type_configurable_price>
        </rewrite>
      </catalog>
      <sales>
        <rewrite>
          <quote_item>ZetaPrints_Fixedprices_Model_Quote_Item</quote_item>
        </rewrite>
      </sales>
    </models>
    <resources>
      <fixedprices_setup>
        <setup>
          <module>ZetaPrints_Fixedprices</module>
          <class>ZetaPrints_Fixedprices_Model_Resource_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </fixedprices_setup>
      <fixedprices_write>
        <connection>
          <use>core_write</use>
        </connection>
      </fixedprices_write>
      <fixedprices_read>
        <connection>
          <use>core_read</use>
        </connection>
      </fixedprices_read>
    </resources>
    <blocks>
      <fixedprices>
        <class>ZetaPrints_Fixedprices_Block</class>
      </fixedprices>
    </blocks>
    <helpers>
      <fixedprices>
        <class>ZetaPrints_Fixedprices_Helper</class>
      </fixedprices>
    </helpers>
  </global>
</config>

