<?xml version="1.0" ?>

<!--
/**
 * NoBillingAddress
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category  ZetaPrints
 * @package   ZetaPrints_NoBillingAddress
 * @copyright Copyright (c) 2011 ZetaPrints Ltd. http://www.zetaprints.com/
 * @author    Anatoly A. Kazantsev <anatoly.kazantsev@gmail.com>
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->

<config>
  <modules>
    <ZetaPrints_NoBillingAddress>
      <version>0</version>
    </ZetaPrints_NoBillingAddress>
  </modules>

  <global>
    <models>
      <nobillingaddress>
        <class>ZetaPrints_NoBillingAddress_Model</class>
      </nobillingaddress>

      <checkout>
        <rewrite>
          <type_onepage>ZetaPrints_NoBillingAddress_Model_Type_Onepage</type_onepage>
        </rewrite>
      </checkout>

      <sales>
        <rewrite>
          <service_quote>ZetaPrints_NoBillingAddress_Model_Service_Quote</service_quote>
        </rewrite>
      </sales>
    </models>

    <blocks>
      <nobillingaddress>
        <class>ZetaPrints_NoBillingAddress_Block</class>
      </nobillingaddress>

      <checkout>
        <rewrite>
          <onepage_payment>ZetaPrints_NoBillingAddress_Block_Onepage_Payment</onepage_payment>
          <onepage_billing>ZetaPrints_NoBillingAddress_Block_Onepage_Billing</onepage_billing>
          <onepage_review>ZetaPrints_NoBillingAddress_Block_Onepage_Review</onepage_review>
        </rewrite>
      </checkout>
    </blocks>

    <helpers>
      <nobillingaddress>
        <class>ZetaPrints_NoBillingAddress_Helper</class>
      </nobillingaddress>
    </helpers>

    <events>
      <controller_action_postdispatch_checkout_onepage_saveBilling>
        <observers>
          <nobillingaddress-save-billing-observer>
            <type>singleton</type>
            <class>ZetaPrints_NoBillingAddress_Model_Events_Observer</class>
            <method>saveBillingAction</method>
          </nobillingaddress-save-billing-observer>
        </observers>
      </controller_action_postdispatch_checkout_onepage_saveBilling>
    </events>
  </global>

  <frontend>
    <layout>
      <updates>
        <nobillingaddress>
          <file>checkout/no-billing-address.xml</file>
        </nobillingaddress>
      </updates>
    </layout>
  </frontend>
</config>
