body {
  padding: 0;
  margin: 0;
  background: #ffffff;
  overflow: hidden;
}

#imageEditorLeftSidebar {
  /*-moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  background: #93B4DF none repeat scroll 0 0;*/
  background-color: #93B4DF;
  width: 100px;
  height: 100%;
  margin: 0;
  text-align: center;
  vertical-align: top;
  position: absolute;
  left: 0;
  top: 0;
}

#imageEditorLeftSidebar ul li {
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  background: transparent url(../images/image-edit/line.png) no-repeat scroll center bottom;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 12px 0;
  cursor: pointer;
  cursor: hand;
}
#imageEditorLeftSidebar ul {
  margin: 0;
  padding: 0;
}

#imageEditorLeftSidebar ul li span {
  color: #FFFFFF;
  display: block;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  padding: 2px;
}

#imageEditorLeftSidebar ul .last {
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  background: transparent none repeat scroll 0 0;
}

#imageEditorCropForm {
  display: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.handler {
  width: 15px;
  height: 10px;
  border-right: solid 1px #888888;
  border-bottom: solid 1px #888888;
  position: absolute;
  right: 1px;
  bottom: 1px;
  cursor: nw-resize;
}

#imageEditorBottomPanel {
  position: absolute;
  bottom: 5px;
  min-width: 600px;
  right: 15px;
}

#userImagePreviewContainer {
  position: absolute;
  right: 5px;
  bottom: 90px;
  padding: 5px;
  overflow: hidden;
  width: 600px;
  height: 450px;
}

div.info-bar {
  position: relative;
  font: bold 8pt tahoma;
  height: 1.5em;
  line-height: 1.5em;
  background-color: red;
  padding: 1px 0px;
  color: #204a87;
}

div.info-bar #default-message {
  display: inline;
}

div.info-bar div.icon {
  background: transparent url(../images/image-edit/status-bar-sprite.png) no-repeat;
}

div.info-bar div.down-arrow, div.info-bar.opened.warning div.down-arrow {
  background-position: 0px 0px;
}

div.info-bar div.up-arrow {
  background-position: -14px 0px;
}

div.info-bar div.status div.question-sign,
div.info-bar.warning.opened div.status div.question-sign {
  display: none;
}

div.info-bar div.outer {
  display: table;
}

div.info-bar div.middle {
  display: table-cell;
  vertical-align: middle;
}

div.info-bar.opened div.additional-info {
  display: block;
}

div.info-bar.opened div.less-info {
  display: table;
}

div.info-bar div.less-info, div.info-bar.opened div.more-info {
  display: none;
}

div.info-bar.warning div.status {
  color: #db0d0d;
}

div.info-bar.opened.warning div.less-info {
  color: #204a87;
}

div.info-bar.warning div.down-arrow {
  background-position: 0px -11px;
}

div.info-bar.warning div.up-arrow {
  background-position: -14px -11px;
}

div.info-bar.warning div.status div.question-sign {
  display: block;
  background-position: -28px -34px;
}

div.info-bar.low-resolution-warning div.numbers div.frame {
  color: #db0d0d;
}

div.info-bar.low-resolution-warning div.notice-switchers div.frame div.question-sign {
  background-position: -28px 0px;
}

div.info-bar.low-resolution-warning span.low-resolution-notice,
div.info-bar.low-resolution-warning #low-resolution-message {
  display: inline;
}

div.info-bar.low-resolution-warning div.notices div.frame span.default-notice,
div.info-bar.low-resolution-warning #default-message {
  display: none;
}



div.info-bar div.wrapper {
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 2000;
}

div.info-bar div.status {
  background-color: #93b4df;
  padding: 1px 5px;
}

div.info-bar div.info-link {
  float: right;
  cursor: pointer;
  font-weight: normal;
}

div.info-bar div.additional-info {
  display: none;
  background-color: rgba(147, 180, 223, 0.8);
  padding-left: 5px;
}

div.status, div.status div {
  height: 1.5em;
}

div.status div.message {
  color: #db0d0d;
}

div.status div.message span {
  display: none;
}

div.info-link span {
  vertical-align: middle;
}

div.info-link div.icon {
  margin-left: 3px;
  width: 9px;
  height: 5px;
}

div.message div.icon {
  margin-left: 7px;
  width: 12px;
  height: 12px;
}

div.additional-info div.column {
  float: left;
  margin-right: 5px;
  text-align: right;
  overflow: hidden;
}

div.additional-info div.column.numbers {
  color: white;
}

div.additional-info div.column.left-text-position {
  text-align: left;
}

div.additional-info div.column.last {
  float: none;
}

div.additional-info div.row {
  padding: 1px 0px;
  height: 1.5em;
}

div.additional-info div.icon {
  width: 12px;
  height: 12px;
  cursor: pointer;
}

div.additional-info div.question-sign {
  background-position: -28px -17px;
}

div.additional-info div.question-sign.hover {
  background-position: -28px 0px;
}


div.column.notices span {
  display: none;
}

div.row.notice span.default-notice {
 display: inline;
}

#fancy_content {
  cursor: auto;
}

div.zetaprints-buttons-row {
  font-family: Arial;
  margin-top: 5px;
}
