div.product-img-box div.more-views li a img {
  width: 56px;
  height: 56px;
} 

div.product-essential {
  border-bottom: 1px solid #C4C6C8;
}

form.zetaprints-template-page {
  display: block;
}

form.zetaprints-template-page div.product-img-box {
  width: 50%;
}

form.zetaprints-template-page div.product-img-box img {
  max-width: 250px;
  cursor: pointer;
}

form.zetaprints-template-page div.product-shop {
  position: relative;
  width: 50%;
}

form.zetaprints-template-page div.product-shop dl {
  margin-bottom: 5px;
}

form.zetaprints-template-page div.update-preview {
  float: left;
  margin-top: 25px;
}

form.zetaprints-template-page img.ajax-loader {
  vertical-align: middle;
  margin-left: 10px;
  display: none;
}

div.save-order {
  background: none;
}

div.save-order div.inner {
  float: right;
}

div.save-order input.disable {
  background-color: #aaaaaa;
  color: #eee;
  border-color: #999999;
  cursor: default;
}

div.save-order img.ajax-loader {
  vertical-align: middle;
  margin-right: 10px;
  display: none;
}

div.color-sample {
  position: absolute;
  height: 18px;
  width: 30px;
  top: 3px;
  left: 10px;
  cursor: pointer;
  border: 1px dotted lightgray;
  background-color: white;
}

div.color-sample label {
  display: none;
}

input.input-text, textarea {
  width:100%;
}