<?xml version="1.0"?>
<!-- 
/**
 * @category   ZetaPrints
 * @package    ZetaPrints_Attachment
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <ZetaPrints_Attachment>
            <version>0.1.1</version>
        </ZetaPrints_Attachment>
    </modules>
    <frontend>
        <routers>
            <attachment>
                <use>standard</use>
                <args>
                    <module>ZetaPrints_Attachment</module>
                    <frontName>attachment</frontName>
                </args>
            </attachment>
        </routers>
        <layout>
            <updates>
                <attachment>
                    <file>attachment.xml</file>
                </attachment>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <attachment>
                <use>admin</use>
                <args>
                    <module>ZetaPrints_Attachment</module>
                    <frontName>attachment</frontName>
                </args>
            </attachment>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <attachment module="attachment">
                <title>Attachment</title>
                <sort_order>71</sort_order>
                <children>
                    <items module="attachment">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>attachment/adminhtml_attachment</action>
                    </items>
                </children>
            </attachment>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <ZetaPrints_Attachment>
                            <title>Attachment Module</title>
                            <sort_order>10</sort_order>
                        </ZetaPrints_Attachment>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <attachment>
                    <file>attachment.xml</file>
                </attachment>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <attachment>
                <class>ZetaPrints_Attachment_Model</class>
                <resourceModel>attachment_mysql4</resourceModel>
            </attachment>
            <attachment_mysql4>
                <class>ZetaPrints_Attachment_Model_Mysql4</class>
                <entities>
                    <attachment>
                        <table>zetaprints_attachment</table>
                    </attachment>
                </entities>
            </attachment_mysql4>
        </models>
        <resources>
            <attachment_setup>
                <setup>
                    <module>ZetaPrints_Attachment</module>
                    <class>ZetaPrints_Attachment_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </attachment_setup>
            <attachment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </attachment_write>
            <attachment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </attachment_read>
        </resources>
        <blocks>
            <attachment>
                <class>ZetaPrints_Attachment_Block</class>
            </attachment>
        </blocks>
        <helpers>
            <attachment>
                <class>ZetaPrints_Attachment_Helper</class>
            </attachment>
        </helpers>
    </global>
</config>