<?xml version="1.0"?>
<config>
  <modules>
    <Biinno_Catalog>
      <version>0.1.0</version>
    </Biinno_Catalog>
  </modules>

  <global>
    <models>
      <catalog>
        <rewrite>
          <product>Biinno_Catalog_Model_Product</product>
        </rewrite>
      </catalog>
    </models>

    <helpers>
      <catalog>
        <rewrite>
          <image>Biinno_Catalog_Helper_Image</image>
        </rewrite>
      </catalog>
    </helpers>
  </global>
</config>
