<?xml version="1.0"?>
<config>
  <modules>
    <Biinno_WebToPrint>
      <version>0.1.0</version>
    </Biinno_WebToPrint>
  </modules>

  <global>
    <models>
      <catalog>
        <rewrite>
          <product>Biinno_WebToPrint_Model_Product</product>
        </rewrite>
      </catalog>
    </models>

    <helpers>
      <catalog>
        <rewrite>
          <image>Biinno_WebToPrint_Helper_Image</image>
        </rewrite>
      </catalog>
    </helpers>
  </global>
</config>
