<?xml version="1.0"?>
<config>
  <modules>
    <ZetaPrints_Zpapi>
      <version>0.1.0</version>
    </ZetaPrints_Zpapi>
  </modules>
  <global>
    <models>
            <zpapi>
                <class>ZetaPrints_Zpapi_Model</class>
        <rewrite>
          <importzp>ZetaPrints_Zpapi_Model_Importer</importzp>
        </rewrite>
        <rewrite>
          <opstore>ZetaPrints_Zpapi_Model_Optionstore</opstore>
        </rewrite>
            </zpapi>
        </models>
    <helpers>
      <zpapi>
         <class>ZetaPrints_Zpapi_Helper</class>
        </zpapi>
    </helpers>
    <events>
      <checkout_type_onepage_save_order_after>
      <!--checkout_onepage_controller_success_action-->
        <observers>
          <biinno_zpapi_observer>
            <type>model</type>
            <class>zpapi/observer</class>
            <method>exportOnOrderEvent</method>
          </biinno_zpapi_observer>
        </observers>
      <!--/checkout_onepage_controller_success_action-->
      </checkout_type_onepage_save_order_after>
    </events>
  </global>

  <frontend>
    <translate>
      <modules>
        <ZetaPrints_Zpapi>
          <files>
            <default>ZetaPrints_Zpapi.csv</default>
          </files>
        </ZetaPrints_Zpapi>
      </modules>
    </translate>
  </frontend>

  <adminhtml>
    <translate>
      <modules>
        <ZetaPrints_Zpapi>
          <files>
            <default>ZetaPrints_Zpapi.csv</default>
          </files>
        </ZetaPrints_Zpapi>
      </modules>
    </translate>

      <menu></menu>
      <events></events>
      <translate></translate>
      <acl>
        <resources>
          <admin>
            <children>
              <system>
                <children>
                  <config>
                    <children>
                      <zpapi>
                        <title>W2p Integration</title>
                      </zpapi>
                    </children>
                  </config>
                </children>
              </system>
            </children>
          </admin>
        </resources>
      </acl>
  </adminhtml>

  <default>
    <zpapi>
      <settings>
        <templates-removing-behaviour>-1</templates-removing-behaviour>
      </settings>
    </zpapi>
  </default>
</config>
